# We define groups of workers by name, each with their own configuration:
[freebsd12]
# Note that `queue` is a comma-separated list of queues
queues="default"
num_agents=2

# source_image can be either `standard` or `core`
source_image="standard"

[freebsd12.tags]
# Manually override this to say `freebsd`, even though we're on a linux host
os="freebsd"
