# We define groups of workers by name, each with their own configuration:
[freebsd13]
# Note that `queue` is a comma-separated list of queues
queues="default"
num_agents=2
num_cpus=8

[freebsd13.tags]
# Manually override this to say `freebsd`, even though we're on a linux host
os="freebsd"
